<br>
<div id="lionbox">
숲속의 사자처럼
</div>
<br>
<div class="subm">
<%=form_for @post do |f| %>
  Category : <%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name") %><br>
  <%= f.label :▼제목▼%><br>
  <%= f.text_field :title, size:50 %><br>
  <%= f.label :▼내용▼%><br>
  <%= f.text_area :body, rows:6, width:50 %><br>
  <%= f.label :▼작성자▼%><br>
  <%= f.text_field :username %><br><br>
  <%=f.submit '등록' %>
  <% end %>
</div>

<br><br>
<div class="out">
   
  <% @posts.each do |p| %>
    <div class="in">
      <img id=minilion src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAUuAAAAJDVmNDBiNDI3LTRkMWQtNDU2MS05MmU4LWQ0ZTMyNWY5Y2NmYg.png">
        <% p %>#<%= p.id %>번째 울림<br><br>
      <카테고리 : <%= p.category.name %>><br>
      <제목 : <%= p.title %>><br>
      <br> <div id=asd><%= p.body %></div><br>
      <div class=minn>작성자: <%= p.username %><br>
      작성 시간: <%= p.created_at %></div>
    <% p %>
    <%= link_to '수정하기', edit_post_path(p) %> |
    <%= link_to '삭제하기', post_path(p), method: :delete, data: {confirm:'정말 삭제하시겠습니까?'} %>
      <!--<a id=dess href="/destroy/<%= p.id %>">[삭제]</a><br>-->
    <br> <br> 
       
  <%=form_tag '/comment' do %>
    <input type="hidden" name="post_id" value="<%=p.id%>">
    <input id=qwe type="text" name="content">
    <button type="submit">댓글 입력</button><br>
    <%end%> 
    
   
    <h1 id=lii>#<%=p.id%>번째 울림의 댓글 목록</h1>
    <div class=comm>
      <% p.comments.each do |c| %>
      ▶ <%=c.content %><br>
      
      <%end%>
      </div>
     
    </div>
    <br>
  <% end %>
</div>
